{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "tsx": false,
      "dynamicImport": true
    },
    "loose": false,
    "target": "es2020",
    "externalHelpers": false,
    "keepClassNames": false,
    "paths": {
      "@entities/*": ["./src/domain/entities/*"],
      "@domain/*": ["./src/domain/*"],
      "@application/*": ["./src/application/*"],
      "@utils/*": ["./src/utils/*"],
      "@infra/*": ["./src/infra/*"],
      "@main/*": ["./src/main/*"],
      "@presentation/*": ["./src/presentation/*"]
    }
  }
}